body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default Background SVG */
  background-color: #001220;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS For Landing Page */
section {
  position: relative;
  text-align: center;
  padding: 80px 20vw;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-about {
  background-color: #39c97b;
}

.about {
  width: 100%;
  display: flex;
}

/* First wave spacer in landing page */
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../public/wave-haikei.svg");
}

.layer2 {
  background-image: url("../public/layered-waves-haikei.svg");
}
